<footer class="footer">
  <div class="row">
    <div class="large-12 columns">
      <ul class="menu-footer">
        <li class="large-3">
          <a href="mailto:quentin.buirette@hotmail.fr">Contact me</a>
        </li>
        <li class="large-3">
          <a href="{{root}}/">Sitemap</a>
        </li>
        <li class="large-3">
          <a href="http://www.restoconnection.fr/definition-food-porn-decryptage/">Want to know more ?</a>
        </li>
        <li class="large-3">
          <a href="http://www.topito.com/top-citations-karadoc-le-gras-c-est-la-vie">Quotes</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
