<footer class="footer text-center">
  <div class="row">
    <div class="large-12 columns">
      <ul class="menu">
        <li class="large-3">
          <a href="contact.html">Contact me</a>
        </li>
        <li class="large-3">
          <a href="#">Sitemap</a>
        </li>
        <li class="large-3">
          <a href="http://www.restoconnection.fr/definition-food-porn-decryptage/">Want to know more ?</a>
        </li>
        <li class="large-3">
          <a href="http://www.topito.com/top-citations-karadoc-le-gras-c-est-la-vie">Quotes</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
